@import '../abstract/variaveis';


#navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 0 0 0;
    height: 7vh;
    width: 90vw;
    margin: auto;

    .navbar__logo {
        display: flex;
        align-items: center;
    }

    .navbar__logo--titulo {
        color: $cinza;
        font-size: 18px;
        font-weight: 500;
        margin-left: 0.5em;
    }

    .menu-lista {
        display: flex;
        width: 45vw;

        .menu-lista__item {
            margin-right: 2rem;

            a {
                text-decoration: none;
                color: $cinza-claro;
            }
        }
    }

    .botoes {
        display: flex;

        a {
            text-decoration: none;
            font-weight: 500;
        }

        .botao__entrar {
            color: $cinza-claro;
            margin-right: 2rem;
        }

        .botao__cadastrar {
            background: $vermelho-escuro;
            color: $branco;
            padding: 0.8em;
            border-radius: 8px;
        }
    }
}