@import '../abstract/variaveis';

#vagas {
    width: 90vw;
    margin: auto;

    .talentos {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        padding: 2rem 2rem;


        h2 {
            background: rgba(142, 36, 36, 0.05);
            border-radius: 16px;
            font-size: 14px;
            font-weight: 500;
            padding: 0.8em 0;
            width: 10vw;
        }

        h3 {
            color: var(--cinza-escuro);
            font-size: 36px;
            font-weight: 600;
            padding: 1rem 0 1.25rem 0;
        }

        p {
            color: $cinza-claro;
            font-size: 20px;
        }

        img {
            padding-top: 4rem;
            width: 80vw;
            margin-bottom: 2rem;
        }
    }

    .vagas-abertas {
        font-weight: 500;
        color: $cinza-escuro;
        display: flex;
        flex-direction: column;
        align-items: center;

        .area {
            padding: 0rem;


            h2 {
                color: $cinza;
                font-size: 20px;
                margin: 2rem 0 2rem 0;
            }

            .vaga {
                width: 70vw;
                padding: 1.5rem;
                border: 1px solid #EAECF0;
                border-radius: 16px;
                margin-bottom: 1.5rem;

                .titulo-vaga {
                    font-size: 18px;
                }

                .informacoes {
                    margin-top: 2rem;

                    span {
                        padding-right: 2rem;
                        color: $cinza-claro;
                    }
                }
            }
        }
    }

}