
//Fonte
$fonte-principal: 'Inter', sans-serif;

//Tamanho das fontes
$tamanho-do-texto: 16px;

//Cores
$cinza: #3A404E;
$cinza-claro: #667085;
$cinza-escuro: #101828;
$branco: #FFFFFF;
$vermelho-escuro: #8E2424;
