#navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 0 0 0;
  height: 7vh;
  width: 90vw;
  margin: auto;
}
#navbar .navbar__logo {
  display: flex;
  align-items: center;
}
#navbar .navbar__logo--titulo {
  color: #3A404E;
  font-size: 18px;
  font-weight: 500;
  margin-left: 0.5em;
}
#navbar .menu-lista {
  display: flex;
  width: 45vw;
}
#navbar .menu-lista .menu-lista__item {
  margin-right: 2rem;
}
#navbar .menu-lista .menu-lista__item a {
  text-decoration: none;
  color: #667085;
}
#navbar .botoes {
  display: flex;
}
#navbar .botoes a {
  text-decoration: none;
  font-weight: 500;
}
#navbar .botoes .botao__entrar {
  color: #667085;
  margin-right: 2rem;
}
#navbar .botoes .botao__cadastrar {
  background: #8E2424;
  color: #FFFFFF;
  padding: 0.8em;
  border-radius: 8px;
}

#cabecalho {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  margin: auto;
  width: 90vw;
  height: 40vh;
}
#cabecalho .cabecalho__container {
  width: 50vw;
  margin: auto;
}
#cabecalho h3 {
  font-size: 48px;
  font-weight: 600;
  padding: 0.7em 0;
}
#cabecalho p {
  display: inline-block;
  justify-content: center;
  color: #667085;
  font-size: 20px;
}

#banner {
  width: 90vw;
  height: 20vw;
  margin: auto;
}
#banner .banner__lista {
  display: flex;
  justify-content: space-around;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
}
#banner .banner__lista li {
  padding: 2rem 2rem;
  width: 70vw;
}
#banner .banner__lista li h3 {
  font-size: 60px;
  font-weight: 600;
  color: #8E2424;
}
#banner .banner__lista li h4 {
  color: #101828;
  font-size: 18px;
  font-weight: 500;
  padding: 1em 0 0 0;
}
#banner .banner__lista li p {
  color: #667085;
}

#vagas {
  width: 90vw;
  margin: auto;
}
#vagas .talentos {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 2rem 2rem;
}
#vagas .talentos h2 {
  background: rgba(142, 36, 36, 0.05);
  border-radius: 16px;
  font-size: 14px;
  font-weight: 500;
  padding: 0.8em 0;
  width: 10vw;
}
#vagas .talentos h3 {
  color: var(--cinza-escuro);
  font-size: 36px;
  font-weight: 600;
  padding: 1rem 0 1.25rem 0;
}
#vagas .talentos p {
  color: #667085;
  font-size: 20px;
}
#vagas .talentos img {
  padding-top: 4rem;
  width: 80vw;
  margin-bottom: 2rem;
}
#vagas .vagas-abertas {
  font-weight: 500;
  color: #101828;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#vagas .vagas-abertas .area {
  padding: 0rem;
}
#vagas .vagas-abertas .area h2 {
  color: #3A404E;
  font-size: 20px;
  margin: 2rem 0 2rem 0;
}
#vagas .vagas-abertas .area .vaga {
  width: 70vw;
  padding: 1.5rem;
  border: 1px solid #EAECF0;
  border-radius: 16px;
  margin-bottom: 1.5rem;
}
#vagas .vagas-abertas .area .vaga .titulo-vaga {
  font-size: 18px;
}
#vagas .vagas-abertas .area .vaga .informacoes {
  margin-top: 2rem;
}
#vagas .vagas-abertas .area .vaga .informacoes span {
  padding-right: 2rem;
  color: #667085;
}

#depoimentos {
  width: 90vw;
  height: 55vh;
  margin: 7vh auto auto auto;
}
#depoimentos .colaborador {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: rgba(196, 25, 25, 0.03);
  margin: auto;
  width: 80vw;
  height: 35vh;
  padding: 4rem 1rem 0 1rem;
}
#depoimentos .colaborador h2 {
  font-size: 14px;
  margin-bottom: 1rem;
}
#depoimentos .colaborador p {
  font-size: 36px;
  font-weight: 500;
  color: #101828;
}
#depoimentos .colaborador .colaborador__avatar {
  margin: 2rem 0 1rem 0;
}
#depoimentos .colaborador .colaborador__nome {
  color: #101828;
  font-weight: 500;
  margin-bottom: 0.25rem;
}
#depoimentos .colaborador .colaborador__cargo {
  color: #667085;
  font-size: 14px;
}

#rodape {
  border: 1px solid red;
  height: 35vh;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #8E2424;
  font-weight: 600;
}/*# sourceMappingURL=style.css.map */